

table {

	border: 1px solid;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;

}

table tr {
	border: 1px solid #757575;
}

table tbody tr:nth-child(even) {
}

table tbody tr:hover {
	background-color: rgba(0, 0, 185, .3);
}

table th {
	background-color: #69a38c;
	color: #ffffff	 ;
	font-size: 1.2rem;
	text-align: left;
}
table td {
	padding: 1rem;
	font-size: 1rem;
	text-align: left;
	vertical-align: middle;
}

table tr td:first-child {
	text-align: left;
	font-weight: bold;
}

table th {
}

.tables{
	padding: 2rem 1rem;
}

.tables h3 {
}

.tables tfoot {
	background: #EEEEEE;
}

.tables tfoot td {
	font-weight: bold;
}
